@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-Young-Serif: "Young Serif", serif;
  --ff-Outfit: "Outfit", sans-serif;
  --White: hsl(0, 0%, 100%);
  --body: hsl(30, 54%, 90%);
  --nutrition-line: hsl(30, 18%, 87%);
  --p: hsl(30, 10%, 34%);
  --h1: hsl(24, 5%, 18%);
  --h2: hsl(14, 45%, 36%);
  --h3: hsl(332, 51%, 32%);
  --preparation-container: hsl(330, 100%, 98%);
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

ul {
  list-style-position: outside;
  font-family: var(--ff-Outfit);
  color: var(--p);
  letter-spacing: 0.2px;
  padding-left: 1.2rem;
}

ul li {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

h2 {
  font-family: var(--ff-Young-Serif);
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--h2);
  padding-bottom: 1rem;
}

.recipe-page-container {
  max-width: 700px;
  background-color: var(--White);
  padding: 1.5rem;
  border-radius: 10px;
}

.recipe-page-container img {
  width: 100%;
  border-radius: 10px;
}

/*description*/

.description-textcontent {
  padding: 1.5rem 0;
}

.description-textcontent h1 {
  padding-bottom: 1rem;
  font-family: var(--ff-Young-Serif);
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 0.4px;
  color: var(--h1);
}

.description-textcontent p {
  font-family: var(--ff-Outfit);
  font-weight: 400;
  color: var(--p);
}

/*preparation*/

.preparation-textcontent {
  background-color: var(--preparation-container);
  padding: 1em;
  border-radius: 10px;
}

.preparation-textcontent h3 {
  font-family: var(--ff-Outfit);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--h3);
  letter-spacing: 0.2px;
  padding-bottom: 0.8rem;
}

.bold {
  color: var(--h1);
  font-weight: 600;
}

ul li::marker {
  color: var(--h1);
  font-weight: 600;
  font-size: 0.75rem;
}

/*ingredients*/

.ingredients-textcontent {
  margin: 1.5rem 0;
}

/*instructions*/

.instructions-textcontent {
  margin: 1.8rem 0;
}

.instructions-textcontent ol {
  list-style-position: outside;
  font-family: var(--ff-Outfit);
  font-weight: 400;
  color: var(--p);
  letter-spacing: 0.2px;
  padding-left: 1.5rem;
}

.instructions-textcontent li {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

ol li::marker {
  color: var(--h2);
  font-weight: 600;
}

/*nutrition*/

.nutrition-textcontent {
  margin: 1.8rem 0;
}

.nutrition-textcontent p {
  font-family: var(--ff-Outfit);
  color: var(--p);
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--nutrition-line);
}

tr:last-child {
  /*removes the last row's border-bottom*/
  border-bottom: none;
}

td {
  padding: 0.5rem 1.5rem 0.5rem;
}

.left-data {
  font-family: var(--ff-Outfit);
  color: var(--p);
}

.right-data {
  font-family: var(--ff-Outfit);
  color: var(--h2);
  font-weight: 700;
}

.attribution {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-self: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*media*/

@media (max-width: 600px) {
  body {
    padding: 0;
  }

  .recipe-page-container {
    background-color: var(--White);
    border-radius: 0;
    padding: 0;
  }

  .recipe-page-container img {
    width: 100%;
    border-radius: 0;
  }

  .section {
    padding: 0 3.4rem 1rem;
  }

  .description-textcontent h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .description-textcontent p {
    line-height: 1.6rem;
  }

  .preparation-textcontent {
    padding: 1rem 3rem 1rem 1rem;
  }

  .preparation-textcontent ul {
    list-style-position: outside;
    padding-left: 1.4rem;
  }

  .preparation-textcontent li {
    padding-bottom: 0.5rem;
  }

  .ingredients-textcontent ul {
    padding-left: 1.5em;
    letter-spacing: 0.2px;
    list-style-position: outside;
  }

  .ingredients-textcontent li {
    padding-bottom: 0.5rem;
    padding-left: 1em;
  }

  .indent {
    padding-left: 0;
  }

  .instructions-textcontent ol {
    list-style-position: outside;
    letter-spacing: 0.2px;
    padding-left: 1.4rem;
  }

  .instructions-textcontent li {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }

  .nutrition-textcontent p {
    padding: 0 1rem 1rem 0;
  }

  .attribution {
    display: none;
  }
}
